<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer>
        <div class="footer-content">
            <div class="brand">
                <h2>E-Waste Hub</h2>
                <br>
                <p>E-Waste Hub is a web-application which allows you to search for your nearest E-Waste Recycle Hub and allows you to earn credit points which can be used to buy products</p>
            </div>
            <br>
            <div class="social-media">
                <a href="#"><img src="/images/facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="/images/twitter-icon.png" alt="Twitter"></a>
                <a href="#"><img src="/images/instagram-icon.png" alt="Instagram"></a>
            </div>
        </div>
        <div class="copyright">
            &copy; 2023 E-Waste Hub. All rights reserved.
        </div>
    </footer>
</body>
</html>